.hero-section {
  width: 100%;
  max-width: 1440px;
  margin: 2.5rem auto 0;
  padding: 0 1rem;
  font-family: 'Open Sans', sans-serif;
}

.hero-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}

.hero-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hero-title {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.0625rem;
  color: #1c1c1c;
  font-weight: 400;
  text-align: center;
  max-width: 20rem;
  margin-top: 1.5rem;
}

.hero-title-highlight {
  font-weight: 600;
  color: #096c76;
}

.hero-subtitle {
  font-size: 0.875rem;
  color: #7b7b7b;
  text-align: center;
  letter-spacing: -0.0625rem;
  max-width: 13.5rem;
}

.hero-buttons {
  margin-top: 2rem;
}

/* Breakpoint 960px */
@media (min-width: 960px) {
  .hero-section {
    margin: 5.625rem auto 0;
    padding: 0 4.5rem;
  }

  .hero-card {
    flex-direction: row;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
  }

  .hero-content-container {
    align-items: start;
  }

  .hero-content {
    align-items: start;
    gap: 1.5rem;
  }

  .hero-title {
    font-size: 4rem;
    line-height: 4.5rem;
    text-align: left;
    max-width: 52rem;
  }

  .hero-subtitle {
    font-size: 1.25rem;
    text-align: left;
    max-width: 36.25rem;
  }

  .hero-buttons {
    margin-top: 3.75rem;
  }
}
