.header--navbar {
  padding: 0 1rem;
  transition: all 0.3s ease-in-out;
}

.header--navbar > header {
  padding: 0;
}

.header--logo-link {
  width: 100%;
}

/* Breakpoint 960px */
@media (min-width: 960px) {
  .header--navbar {
    padding: 0 4.5rem;
  }
}
