.featureaccordion--base {
  padding: 0 1.25rem 0 0;
}

.featureaccordion--base.open {
  padding: 1rem 1rem 0 1rem !important;
}

.featureaccordion--title {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: -0.0625rem;
  color: #7b7b7b;
  vertical-align: center;
}

.featureaccordion--title.open {
  color: #000;
}

.featureaccordion--trigger {
  padding: 0 !important;
  gap: 0.875rem;
}

.featureaccordion--startcontent {
  width: 2.25rem;
  height: 2.25rem;
  border: 1px solid #e4e4e4;
  border-radius: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: -0.0625rem;
  color: #7b7b7b;
}

.featureaccordion--startcontent.open {
  border: 1px solid #096c76;
  color: #fff;
  background-color: #096c76;
}

.featureaccordion--content {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.0625rem;
  color: #7b7b7b;
  margin-top: 1rem;
  margin-right: 0.5rem;
  padding: 0 !important;
}

.featureaccordion--indicator {
  color: #000;
}
